<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="QLBanHangEntities" connectionString="metadata=res://*/QLBanHang.csdl|res://*/QLBanHang.ssdl|res://*/QLBanHang.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-etpd9g4;initial catalog=QLBanHang;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLBanHangEntities1" connectionString="metadata=res://*/QLBanHang.csdl|res://*/QLBanHang.ssdl|res://*/QLBanHang.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-etpd9g4;initial catalog=QLBanHang;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLBanHangEntities2" connectionString="metadata=res://*/QLBanHang.csdl|res://*/QLBanHang.ssdl|res://*/QLBanHang.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-etpd9g4;initial catalog=QLBanHang;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLBanHangEntities3" connectionString="metadata=res://*/QLBanHangEntity.csdl|res://*/QLBanHangEntity.ssdl|res://*/QLBanHangEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLBanHang;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLBanHangEntities4" connectionString="metadata=res://*/QLBanHang1.csdl|res://*/QLBanHang1.ssdl|res://*/QLBanHang1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-etpd9g4;initial catalog=QLBanHang;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLBanHangEntities5" connectionString="metadata=res://*/QLBanHangEntity1.csdl|res://*/QLBanHangEntity1.ssdl|res://*/QLBanHangEntity1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLBanHang;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLBanHangEntities6" connectionString="metadata=res://*/QLBanHang1.csdl|res://*/QLBanHang1.ssdl|res://*/QLBanHang1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLBanHang;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLBanHangEntities7" connectionString="metadata=res://*/QLBanHang1.csdl|res://*/QLBanHang1.ssdl|res://*/QLBanHang1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLBanHang;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLBanHangEntities8" connectionString="metadata=res://*/QLBanHang2.csdl|res://*/QLBanHang2.ssdl|res://*/QLBanHang2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLBanHang;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLBanHangEntities9" connectionString="metadata=res://*/QLBH.csdl|res://*/QLBH.ssdl|res://*/QLBH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUS-QN1507;initial catalog=QLBH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLBanHangEntities10" connectionString="metadata=res://*/BanHang2.csdl|res://*/BanHang2.ssdl|res://*/BanHang2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLBanHang;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLBanHangEntities11" connectionString="metadata=res://*/QLBanHang2.csdl|res://*/QLBanHang2.ssdl|res://*/QLBanHang2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLBanHang;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLBanHangEntities12" connectionString="metadata=res://*/QLBanHang1.csdl|res://*/QLBanHang1.ssdl|res://*/QLBanHang1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLBanHang;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>