USE [master]
GO
/****** Object:  Database [QLBanHang]    Script Date: 10/01/2021 03:51:09 ******/
CREATE DATABASE [QLBanHang]
ALTER DATABASE [QLBanHang] SET COMPATIBILITY_LEVEL = 100
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanHang]
GO
/****** Object:  Table [dbo].[NHOMHH]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMHH](
	[MANHOM_HH] [int] IDENTITY(100,1) NOT NULL,
	[TENNHOM_HH] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHOMHH] PRIMARY KEY NONCLUSTERED 
(
	[MANHOM_HH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MA_NV] [int] IDENTITY(100,1) NOT NULL,
	[CCCD_NV] [char](20) NULL,
	[EMAIL_NV] [char](50) NULL,
	[SDT_NV] [char](10) NULL,
	[DIACHI_NV] [nvarchar](100) NULL,
	[GHICHU_NV] [char](100) NULL,
	[TEN_NV] [nvarchar](50) NULL,
	[NAMSINH] [datetime] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MA_NCC] [int] IDENTITY(100,1) NOT NULL,
	[TEN_NCC] [nvarchar](50) NULL,
	[SDT_NCC] [char](10) NULL,
	[DIACHI_NCC] [nvarchar](100) NULL,
	[EMAIL_NCC] [char](50) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY NONCLUSTERED 
(
	[MA_NCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MA_KH] [int] IDENTITY(100,1) NOT NULL,
	[TEN_KH] [nvarchar](50) NULL,
	[EMAIL_KH] [char](50) NULL,
	[SDT_KH] [char](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MANHAPHANG] [int] IDENTITY(100,1) NOT NULL,
	[MA_NCC] [int] NULL,
	[MA_NV] [int] NULL,
	[GHICHUNHAPHANG] [nvarchar](100) NULL,
	[NGAYNHAPHANG] [datetime] NULL,
 CONSTRAINT [PK_HOADONNHAP] PRIMARY KEY NONCLUSTERED 
(
	[MANHAPHANG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [int] IDENTITY(100,1) NOT NULL,
	[MA_KH] [int] NULL,
	[MA_NV] [int] NULL,
	[NGAYLAPHOADON] [datetime] NULL,
	[GHICHUHD] [nvarchar](100) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MA_HH] [int] IDENTITY(100,1) NOT NULL,
	[MANHOM_HH] [int] NULL,
	[TEN_HH] [nvarchar](50) NULL,
	[SOLUONG_HH] [int] NULL,
	[GIAVON] [money] NULL,
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY NONCLUSTERED 
(
	[MA_HH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[dh_KiemTraDonHang]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dh_KiemTraDonHang] @MaDH int
as
begin
    set nocount on
    declare @sl int 
    select @sl = count(*) from HOADON
    where MAHOADON = @MaDH
    select @sl as alias
end
GO
/****** Object:  Table [dbo].[CT_NHAPHANG]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_NHAPHANG](
	[MA_HH] [int] NOT NULL,
	[MANHAPHANG] [int] NOT NULL,
	[SOLUONGHANGNHAP] [int] NULL,
	[DONGIANHAP] [money] NULL,
 CONSTRAINT [PK_CT_NHAPHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_HH] ASC,
	[MANHAPHANG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHOADON] [int] NOT NULL,
	[MA_HH] [int] NOT NULL,
	[UUDAI] [float] NULL,
	[DONGIABAN] [money] NULL,
	[SOLUONGHANGBAN] [int] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY NONCLUSTERED 
(
	[MAHOADON] ASC,
	[MA_HH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  StoredProcedure [dbo].[spTungNhanVien]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spTungNhanVien] 
(
@maNV int
)
as
begin
	select NHANVIEN.TEN_NV, NHANVIEN.CCCD_NV, NHANVIEN.SDT_NV, NHANVIEN.EMAIL_NV, COUNT(HOADON.MAHOADON)as sohoadon, SUM(CHITIETHOADON.DONGIABAN * CHITIETHOADON.SOLUONGHANGBAN * (1 - CHITIETHOADON.UUDAI)) as tongdoanhthu
	from NHANVIEN inner join HOADON on NHANVIEN.MA_NV = HOADON.MA_NV
			inner join CHITIETHOADON on HOADON.MAHOADON = CHITIETHOADON.MAHOADON
	where NHANVIEN.MA_NV = @maNV
	group by NHANVIEN.TEN_NV,NHANVIEN.CCCD_NV, NHANVIEN.SDT_NV, NHANVIEN.EMAIL_NV
	
end
GO
/****** Object:  StoredProcedure [dbo].[spSPBC]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spSPBC]
as
begin
	select HANGHOA.MA_HH, HANGHOA.TEN_HH, sum(SOLUONGHANGBAN) as 'soluonghangban'
	from HANGHOA inner join CHITIETHOADON on HANGHOA.MA_HH = CHITIETHOADON.MA_HH
	group by HANGHOA.TEN_HH, HANGHOA.MA_HH
	order by soluonghangban desc
end
GO
/****** Object:  StoredProcedure [dbo].[spSLHNNCC]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spSLHNNCC]
as
begin
	select NHACUNGCAP.TEN_NCC, NHACUNGCAP.MA_NCC, SUM(CT_NHAPHANG.SOLUONGHANGNHAP) as SoLuong
	from  CT_NHAPHANG inner join HOADONNHAP on HOADONNHAP.MANHAPHANG = CT_NHAPHANG.MANHAPHANG 
				inner join NHACUNGCAP on HOADONNHAP.MA_NCC = NHACUNGCAP.MA_NCC

	       
	group by NHACUNGCAP.TEN_NCC, NHACUNGCAP.MA_NCC
	order by SoLuong
end
GO
/****** Object:  StoredProcedure [dbo].[spKH]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spKH]
as
begin
	select Top 10  KHACHHANG.TEN_KH, COUNT(HOADON.MAHOADON)as sohoadon, SUM(CHITIETHOADON.DONGIABAN * CHITIETHOADON.SOLUONGHANGBAN * (1 - CHITIETHOADON.UUDAI)) as tongtienmua
	from  KHACHHANG inner join HOADON on KHACHHANG.MA_KH = HOADON.MA_KH
			inner join CHITIETHOADON on HOADON.MAHOADON = CHITIETHOADON.MAHOADON
	
	group by HOADON.MAHOADON , KHACHHANG.TEN_KH, HOADON.NGAYLAPHOADON
	order by tongtienmua desc
end
GO
/****** Object:  StoredProcedure [dbo].[spHDN]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spHDN]
(
@MaHD int
)
as
begin
	select TEN_NCC, TEN_HH, TEN_NV, SOLUONGHANGNHAP, DONGIANHAP, (SOLUONGHANGNHAP * DONGIANHAP) as thanhtien
	from HANGHOA inner join CT_NHAPHANG on HANGHOA.MA_HH = CT_NHAPHANG.MA_HH
			inner join HOADONNHAP on CT_NHAPHANG.MANHAPHANG = HOADONNHAP.MANHAPHANG
				inner join NHACUNGCAP on HOADONNHAP.MA_NCC = NHACUNGCAP.MA_NCC
					inner join NHANVIEN on HOADONNHAP.MA_NV = NHANVIEN.MA_NV
	where HOADONNHAP.MANHAPHANG = @MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[spHD]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spHD]
(
@MaHD int
)
as
begin
	select TEN_NV, TEN_KH, TEN_HH, CHITIETHOADON.SOLUONGHANGBAN, CHITIETHOADON.DONGIABAN, CHITIETHOADON.UUDAI,
			(SOLUONGHANGBAN*DONGIABAN*(1 - UUDAI)) as 'thanhtien'
	from HANGHOA inner join CHITIETHOADON on HANGHOA.MA_HH = CHITIETHOADON.MA_HH
			inner join HOADON on CHITIETHOADON.MAHOADON = HOADON.MAHOADON 
				inner join KHACHHANG on HOADON.MA_KH = KHACHHANG.MA_KH
					inner join NHANVIEN on HOADON.MA_NV = NHANVIEN.MA_NV
	where HOADON.MAHOADON = @MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[spDSNV]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spDSNV]
as
begin
	select NHANVIEN.MA_NV, NHANVIEN.TEN_NV, COUNT(HOADON.MAHOADON)as sohoadon, SUM(CHITIETHOADON.DONGIABAN * CHITIETHOADON.SOLUONGHANGBAN * (1 - CHITIETHOADON.UUDAI)) as tongdoanhthu
	from NHANVIEN inner join HOADON on NHANVIEN.MA_NV = HOADON.MA_NV
			inner join CHITIETHOADON on HOADON.MAHOADON = CHITIETHOADON.MAHOADON
	
	group by NHANVIEN.MA_NV, NHANVIEN.TEN_NV
	order by tongdoanhthu desc
end
GO
/****** Object:  StoredProcedure [dbo].[dh_KiemTraCTDonHang]    Script Date: 10/01/2021 03:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dh_KiemTraCTDonHang] @MaDH int, @MaSP int
as
begin
	set nocount on
	declare @sl int 
	select @sl = count(*) from CHITIETHOADON
	where MAHOADON = @MaDH and MA_HH = @MaSP
	select @sl as alias
end
GO


CREATE proc [dbo].dh_CapNhatTonKho  @MaSP int, @sl int
as
begin
	set nocount on
	update HANGHOA
	set SOLUONG_HH = SOLUONG_HH - @sl
	where MA_HH = @MaSP
end
GO

CREATE proc [dbo].dh_CapNhatTonKhoXoa  @MaSP int, @sl int
as
begin
	set nocount on
	update HANGHOA
	set SOLUONG_HH = SOLUONG_HH + @sl
	where MA_HH = @MaSP
end

GO

/****** Object:  ForeignKey [FK_HOADONNH_LAP3_NHANVIEN]    Script Date: 10/01/2021 03:51:10 ******/
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNH_LAP3_NHANVIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHANVIEN] ([MA_NV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNH_LAP3_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_HOADONNH_NHAP_HANG_NHACUNGC]    Script Date: 10/01/2021 03:51:10 ******/
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNH_NHAP_HANG_NHACUNGC] FOREIGN KEY([MA_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([MA_NCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNH_NHAP_HANG_NHACUNGC]
GO
/****** Object:  ForeignKey [FK_HOADON_DAT_KHACHHAN]    Script Date: 10/01/2021 03:51:10 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_DAT_KHACHHAN] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACHHANG] ([MA_KH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_DAT_KHACHHAN]
GO
/****** Object:  ForeignKey [FK_HOADON_LAP2_NHANVIEN]    Script Date: 10/01/2021 03:51:10 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_LAP2_NHANVIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHANVIEN] ([MA_NV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_LAP2_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_HANGHOA_THUOC_NHOMHH]    Script Date: 10/01/2021 03:51:10 ******/
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_THUOC_NHOMHH] FOREIGN KEY([MANHOM_HH])
REFERENCES [dbo].[NHOMHH] ([MANHOM_HH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_THUOC_NHOMHH]
GO
/****** Object:  ForeignKey [FK_CT_NHAPH_CT_NHAPHA_HANGHOA]    Script Date: 10/01/2021 03:51:10 ******/
ALTER TABLE [dbo].[CT_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPH_CT_NHAPHA_HANGHOA] FOREIGN KEY([MA_HH])
REFERENCES [dbo].[HANGHOA] ([MA_HH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_NHAPHANG] CHECK CONSTRAINT [FK_CT_NHAPH_CT_NHAPHA_HANGHOA]
GO
/****** Object:  ForeignKey [FK_CT_NHAPH_CT_NHAPHA_HOADONNH]    Script Date: 10/01/2021 03:51:10 ******/
ALTER TABLE [dbo].[CT_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPH_CT_NHAPHA_HOADONNH] FOREIGN KEY([MANHAPHANG])
REFERENCES [dbo].[HOADONNHAP] ([MANHAPHANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_NHAPHANG] CHECK CONSTRAINT [FK_CT_NHAPH_CT_NHAPHA_HOADONNH]
GO
/****** Object:  ForeignKey [FK_CHITIETH_CHITIETHO_HANGHOA]    Script Date: 10/01/2021 03:51:10 ******/
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CHITIETHO_HANGHOA] FOREIGN KEY([MA_HH])
REFERENCES [dbo].[HANGHOA] ([MA_HH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETH_CHITIETHO_HANGHOA]
GO
/****** Object:  ForeignKey [FK_CHITIETH_CHITIETHO_HOADON]    Script Date: 10/01/2021 03:51:10 ******/
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CHITIETHO_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETH_CHITIETHO_HOADON]
GO

INSERT [dbo].[NHANVIEN] ( [CCCD_NV], [EMAIL_NV], [SDT_NV], [DIACHI_NV], [GHICHU_NV], [TEN_NV], [NAMSINH]) VALUES ( N'9T53XQB65VD', N'LTKL263DC4RH24N1907U', N'0123456789', N'Mạnh Minh', N'V2JUKD6B1FPSY28PCO19RWN8NHEEG9FP4I0FRI0R17N ', N'Nam Hoàng', 01/08/2001)
INSERT [dbo].[NHANVIEN] ( [CCCD_NV], [EMAIL_NV], [SDT_NV], [DIACHI_NV], [GHICHU_NV], [TEN_NV], [NAMSINH]) VALUES ( N'BH24N1907', N'LTKKOWUPMLIAECMEL4N1907U', N'0123456782',  N'Minh Linh', N'Y7CB1FPSY28PCO19RWN8NHEEG9FP4I0FRI0R17N ', N'NULL NULL', 21/01/2001)
INSERT [dbo].[NHANVIEN] ( [CCCD_NV], [EMAIL_NV], [SDT_NV], [DIACHI_NV], [GHICHU_NV], [TEN_NV], [NAMSINH]) VALUES ( N'BH24N1222', N'LTKWUPMLIAECMELT1907U', N'0123456781', N'Anh Minh', N'AL263B1FPSY28PCO19RWN8NHEEG9FP4I0FRI0R17N ', N'Minh Kan', 11/11/2002)


INSERT [dbo].[KHACHHANG] ( [TEN_KH], [EMAIL_KH], [SDT_KH]) VALUES ( N'Nam An', N'ntanmak@email', N'982324321 ')
INSERT [dbo].[KHACHHANG] ( [TEN_KH], [EMAIL_KH], [SDT_KH]) VALUES (  N'Anh Tùng', N'sdnmak@email', N'112323323')
INSERT [dbo].[KHACHHANG] ( [TEN_KH], [EMAIL_KH], [SDT_KH]) VALUES ( N'Anh Tuấn', N'gsgmaink@email', N'2323211 ')


INSERT [dbo].[NHOMHH] ( [TENNHOM_HH]) VALUES ( N'Suney Son')
INSERT [dbo].[NHOMHH] ( [TENNHOM_HH]) VALUES ( N'Hao Hao')
INSERT [dbo].[NHOMHH] ( [TENNHOM_HH]) VALUES ( N'Suney Kannan')



INSERT [dbo].[NHACUNGCAP] ( [TEN_NCC], [SDT_NCC], [DIACHI_NCC], [EMAIL_NCC]) VALUES (N'Rubi', N'592951437', N'Đài Loan', N'garrison51@yahoo.com')
INSERT [dbo].[NHACUNGCAP] ([TEN_NCC], [SDT_NCC], [DIACHI_NCC], [EMAIL_NCC]) VALUES (N'Princess White', N'445551329 ', N'Bhutan', N'vita.bartoletti98@yahoo.com')
INSERT [dbo].[NHACUNGCAP] ( [TEN_NCC], [SDT_NCC], [DIACHI_NCC], [EMAIL_NCC]) VALUES (N'Mocha', N'997657485', N'Iran', N'elton.torp@hotmail.com')


INSERT [dbo].[HANGHOA] ( [MANHOM_HH], [TEN_HH], [SOLUONG_HH], [GIAVON]) VALUES (100, N'Nước tẩy trang', 1340, 1008.0000)
INSERT [dbo].[HANGHOA] ( [MANHOM_HH], [TEN_HH], [SOLUONG_HH], [GIAVON]) VALUES (100, N'Sữa rửa mặt', 1222, 1024.0000)
INSERT [dbo].[HANGHOA] ( [MANHOM_HH], [TEN_HH], [SOLUONG_HH], [GIAVON]) VALUES (100, N'Toner', 1550, 1888.0000)



INSERT [dbo].[HOADONNHAP] ([MA_NCC], [MA_NV], [GHICHUNHAPHANG], [NGAYNHAPHANG]) VALUES ( 101, 101, N'Tốt tốt', CAST(0x000075E000000000 AS DateTime))
INSERT [dbo].[HOADONNHAP] ([MA_NCC], [MA_NV], [GHICHUNHAPHANG], [NGAYNHAPHANG]) VALUES ( 102, 102, N'nhập thêm', CAST(0x0000AAAA00000000 AS DateTime))
INSERT [dbo].[HOADONNHAP] ([MA_NCC], [MA_NV], [GHICHUNHAPHANG], [NGAYNHAPHANG]) VALUES ( 101, 103, N'', CAST(0x000075E000000000 AS DateTime))


INSERT [dbo].[HOADON] ([MA_KH], [MA_NV], [NGAYLAPHOADON], [GHICHUHD]) VALUES ( 102, 102, CAST(0x00009E0B00000000 AS DateTime), N'nhập nhập nhập')
INSERT [dbo].[HOADON] ([MA_KH], [MA_NV], [NGAYLAPHOADON], [GHICHUHD]) VALUES ( 101, 102, CAST(0x00009E0B00000000 AS DateTime), N'nhập thêm')
INSERT [dbo].[HOADON] ([MA_KH], [MA_NV], [NGAYLAPHOADON], [GHICHUHD]) VALUES ( 102, 103, CAST(0x00009E0B00000000 AS DateTime), N'0AAAA')




INSERT [dbo].[CT_NHAPHANG] ([MA_HH], [MANHAPHANG], [SOLUONGHANGNHAP], [DONGIANHAP]) VALUES (101, 101, 88, 1505.0000)
INSERT [dbo].[CT_NHAPHANG] ([MA_HH], [MANHAPHANG], [SOLUONGHANGNHAP], [DONGIANHAP]) VALUES (102, 102, 28, 1557.0000)
INSERT [dbo].[CT_NHAPHANG] ([MA_HH], [MANHAPHANG], [SOLUONGHANGNHAP], [DONGIANHAP]) VALUES (101, 103, 38, 804.0000)


INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MA_HH],  [UUDAI], [DONGIABAN], [SOLUONGHANGBAN]) VALUES (101, 102, 0.9, 12007.0000, 2)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MA_HH],  [UUDAI], [DONGIABAN], [SOLUONGHANGBAN]) VALUES (101, 104, 0.19, 12444.0000, 7)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MA_HH],  [UUDAI], [DONGIABAN], [SOLUONGHANGBAN]) VALUES (101, 103, 0.22, 202272.0000, 2)
